<header>
  <nav>
    <ul>
    <%= for num <- 1..25 do %>
      <li><a href={"/solutions/#{num}"}><%= num %></a></li>
    <%= end %>
    </ul>
  </nav>
</header>

<section class="phx-hero">
  <h1>Solutions for Day <%= @day %></h1>
</section>

<section class="">
  <h1>Part One:</h1>
  <p><%= @part_one %></p>

  <h1>Part Two:</h1>
  <p><%= @part_two %></p>
</section>
